@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue-VariableFont_wght.ttf');
}

* {
  font-family: 'Epilogue', sans-serif;
}

body {
  background-image: url('./images/background.png');
  color: white;
}
