@font-face {
  font-family: 'Epilogue-ExtraLight';
  src: url('../fonts/static/Epilogue-ExtraLight.ttf');
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  width: fit-content;
  height: 200px;
}

.elipse {
  position: absolute;
  width: 120.07px;
  height: 307.45px;

  border: white 1px solid;
  border-radius: 100%;
  /* transform: matrix(0.58, 0.78, -0.87, 0.56, 0, 0) */
  transform: rotate(59deg);
}

.h1Header {
  text-transform: uppercase;
  font-family: 'Epilogue-ExtraLight', sans-serif;
  font-weight: 300;
}