.missions {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 30px;
  margin: 100px auto;
  max-width: 1098px;
  padding: 50px;
  text-align: center;
  width: fit-content;
}

.missions h2 {
  font-size: 22.5pt;
  font-weight: 300;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.missions ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  list-style: none;
  width: 100%;
}
