.solar-system {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  position: relative;
  width: 100%;
}

.solar-system h2 {
  font-weight: 260;
  text-transform: uppercase;
}

.solar-system ul {
  display: flex;
  list-style: none;
}

.solar-system ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}

.solar-system ul li div {
  align-items: end;
  display: grid;
  height: 100%;
  justify-items: center;
}

.solar-system p {
  font-weight: 300;
}

.solar-system > .line {
  background-color: white;
  height: 1px;
  left: 0;
  position: absolute;
  top: 52%;
  width: 100%;
  z-index: 0;
}
